@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body{font-family:"Times New Roman";margin: 0}

h1{italiana-regular;
  font-family: "Italiana", sans-serif;margin:0;}
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

h2{italiana-regular;
  font-family: "Italiana", sans-serif;margin:0;}
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* Website Links except the nav */
a:link{
  color:black;
}
a:visited{
  color:black;
}
a:hover{
  color: black;
}
a:active{
  color: black;
}
.home-hero1{
  background-image: url(images/home-hero1.jpg); 
  background-size: cover; 
  background-repeat: no-repeat; 
  height:200px}

.home-photo{
float:right; 
  max-width:100%; 
  height:auto;
  margin:10px 0px 10px 20px;
  border:10px solid black;
  border-radius:15px;
  box-shadow:0px 5px 15px 5px #08086D;;
}


.home-hero1 h1{ 
  text-align:center;
  color:dodgerblue;;
  font-size: 40;
  padding: 75px;}

.logo{
  margin: 0 auto;
  display: block;
  max-width: 300px;
  border-radius: 70px;

  }

header{
  background-color:background: #08086D;
background: radial-gradient(circle, rgba(8, 8, 109, 1) 16%, rgba(164, 164, 200, 1) 66%, rgba(250, 250, 250, 1) 51%, rgba(144, 0, 255, 1) 82%, rgba(9, 9, 121, 1) 100%);;
 
}



/*navigation*/
nav{
  background-color:rgba(144, 0, 255, 1);
  border-top:6px solid black; 
  border-bottom: 6px solid black; 
  padding: 5px;
  font-family: italics}

nav ul{
  list-style-type: none; 
  text-align: center; 
  margin: 8px 0; 
  padding: 0px}

nav li{
  display: inline;
  padding: 10px}

nav a{text-decoration:none;}

nav a:link{color:white;}

nav a:visited{color:white;}

nav a:hover{color:dodgerblue;}

nav a:active{color:dodgerblue;}


footer a{text-decoration:none;}

footer a:link{color:white;}

footer a:visited{color:white;}

footera:hover{color:dodgerblue;}

footer a:active{color:dodgerblue;}



/*Main*/
main{ 
  max-width:1000px; 
  margin:20px auto; 
  padding: 20px}

hr{
  border-top: solid 3px dodgerblue;}

h3{ 
  text-align:center; 
  color:#08086D;}


button{
  margin:10 auto;
  text: italics;
  display: block;
  background-color:dodgerblue;
  height:auto;
  border:7px solid black;
  border-radius:15px;
  box-shadow:0px 5px 15px 5px #08086D;;}

.mybutton2{  
  width: 200px;
  height: 60px; 
  padding:5px
}

.mybutton{  
  width: 100px;
  height: 60px; 
  padding:5px  
}

 .my-bordered-heading {
  border-bottom: 3px solid dodgerblue; 
  font-size: 24
}


a.button-design{
 color:White;
 border-radius: 15px; 
 text-decoration:none; 
 padding:10px;
 font-size: 18;
 }

a.button-design:link{background-color:rgba(144, 0, 255, 1);}

a.button-design:hover{background-color:dodgerblue;}

.fa{
  font-size: 55px;
  color:rgba(144, 0, 255, 1);
}
.resume{
  max-width: 800px;
  box-shadow: 2px 2px 2px gray ;
  border: black solid 5px;
  padding:30px;
}
.puppies, .grooves{
  border: 2px solid black;

}

.big-3{
  text-align: center;
}


/*footer*/
footer{ 
  background-color:background: #08086D;
background: radial-gradient(circle, rgba(8, 8, 109, 1) 16%, rgba(164, 164, 200, 1) 66%, rgba(250, 250, 250, 1) 51%, rgba(144, 0, 255, 1) 82%, rgba(9, 9, 121, 1) 100%);;
  border-top: black 6px solid; 
  text-align: center;
  font-weight: bold;
  color: black;
  clear:both;
  font-family: italics}

.footer-bottom{
  background-color:rgba(144, 0, 255, 1);
  border-radius: 20px;
  color:White;
  padding: 5px;
}
footer h3{
  color: white;
  text-shadow: 1px 1px 1px black;

}
footer a:hover{
  text-decoration:none;
  color:dodgerblue;
}



/*CSS without a media query--applies to all sizes unless overridden*/
h1{
    font-size: 4em;
 }
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
  h1{
    font-size: 1.8em;
}
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
  h1{
    font-size: 1.5em;
  }
}
